body {
  margin: 0;
  padding: 0;
}

.notifications {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.notification__item {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #ff0000;
  color: #fff;
  text-align: center;
  animation: slide-up 0.4s ease;
}

@keyframes slide-up {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
